<div class="pagina">
	<div class="row">
		<div class="col-lg-12 no-padding">
            <div class="box-container col-xs-12">
                <table class="table table-bordered table-responsive table-striped" style="font-size: 12px;">
                    <tbody>
                        <tr class="success">
                            <td>Total da meta</td>
                            <td>{{totalMeta | currency:"R$ ":2}}</td>
                        </tr>
                        <tr class="success">
                            <td>Total vendido</td>
                            <td>{{totalAtingido | currency:"R$ ":2}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>