<div class="pagina">
	<div class="row">
		<div class="col-lg-12 no-padding">
            <div class="box-container col-xs-12">
                <table class="table table-bordered table-responsive table-striped" style="font-size: 12px;">
                    <tbody>
                        <tr class="success">
                            <td>Total da meta</td>
                            <td>{{totalMeta | currency:"R$ ":2}}</td>
                        </tr>
                        <tr class="success">
                            <td>Total vendido</td>
                            <td>{{totalAtingido | currency:"R$ ":2}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>


            <div class="box-container col-xs-12">
                Todos os produtos vendidos
            </div>
            <div class="box-container col-xs-12">
                <table class="table table-bordered table-responsive table-striped" style="font-size: 12px;">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Vendido</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="produto in meta.produtosVendidosData track by produto.ID">
                            <td><b>Descrição:</b> {{getProdutoDescricao(produto.produto_id)}}<br><b>Valor:</b> {{getProdutoValor(produto.produto_id) | currency:"R$ ":2}}<br></td>
                            <td>{{produto.quantidade}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>