<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" >Relatório de Metas</h1>
            <div class="form-group col-xs-2 pull-left">
                 <label>Mês</label>
                 <input ui-mask="99/9999" ng-model="mes" type="text" class="form-control"/>
            </div>
            <div class="form-group col-xs-2 pull-left">
                 <label>Filial</label>
                 <select type="text" ng-model="filial"  
                    ng-options="filial.nome for filial in filiais track by filial.id" class="form-control">
                    <option value="?"></option>
                 </select>
            </div>
            <div class="form-group col-xs-4 pull-left">
                <a class="btn btn-primary" style="margin-top: 25px" ng-click="filtrar();" ng-disabled="!mes">
                    Filtrar
                </a>
            </div>
            <div class="form-group col-xs-4 pull-right">
                <label for="itensPerPage" class="col-xs-8 control-label" style="margin-top: 6px;text-align: right;">Registros por Página </label>
                <div class="col-xs-4">
                    <select id="itensPerPage" ng-model="itemsPerPage" ng-change="changeItensPerPage();" class="form-control col-xs-12">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>

            <div class="table-responsive col-xs-12">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span>Filial </span>
                            </th>
                            <th>
                                <span>Valor da meta </span>
                            </th>
                            <th>
                                <span>Meta produtos </span>
                            </th>
                            <th>
                                <span>Meta financeira</span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="filial in metas.filiais track by filial.id" style="cursor:pointer" data-toggle="modal" data-target="#myModal" ng-click="selecionarMeta(filial.id)">
                            <td>{{filial.filial_nome}} </td>
                            <td>{{filial.valor_total | currency:"R$ ":2}}</td>
                            <td>
                                {{(filial.valor_total_meta)?filial.valor_total_meta:0 | currency:"R$ ":2}}

                                <b style="display: block;">
                                    {{(filial.valor_total_meta*100/filial.valor_total)?filial.valor_total_meta*100/filial.valor_total:0 |  currency:"":2}}%
                                </b>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{filial.valor_total_meta*100/filial.valor_total}}%">
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{(filial.valor_total_financeira)?filial.valor_total_financeira:0 | currency:"R$ ":2}}

                                <b style="display: block;">
                                    {{(filial.valor_total_financeira*100/filial.valor_total)?filial.valor_total_financeira*100/filial.valor_total:0 |  currency:"":2}}%
                                </b>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{filial.valor_total_financeira*100/filial.valor_total}}%">
                                    </div>
                                </div>
                            </td>
                        </tr>   
                    </tbody>
                    <tfoot>
                        <tr class="success" style="font-weigth: bold;">
                            <td></td>
                            <td></td>
                            <td><span style="float: right;">Total da meta</span></td>
                            <td>{{metas.valor_total | currency:"R$ ":2}}</td>
                        </tr>
                        <tr class="success">
                            <td></td>
                            <td></td>
                            <td><span style="float: right;">Total meta produtos</span></td>
                            <td>{{metas.valor_total_meta | currency:"R$ ":2}}</td>
                        </tr>
                        <tr class="success">
                            <td></td>
                            <td></td>
                            <td><span style="float: right;">Total meta financeira</span></td>
                            <td>{{metas.valor_total_financeira | currency:"R$ ":2}}</td>
                        </tr>
                    </tfoot>
                </table>
                <pagination  previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page="itemsPerPage" first-text="&laquo;" last-text="&raquo;" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-lg pull-right" boundary-links="true" rotate="false" num-pages="numPages" ng-change="pageChanged()"></pagination>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Detalhes da meta</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <span>Início</span>
                        </th>
                        <th>
                            <span>Fim</span>
                        </th>
                        <th>
                            <span>Vendedor </span>
                        </th>
                        <th>
                            <span>Filial </span>
                        </th>
                        <th>
                            <span>Valor da meta </span>
                        </th>
                        <th>
                            <span>Meta produtos </span>
                        </th>
                        <th>
                            <span>Meta financeira</span>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="meta in filial_selecionada.list track by meta.id" style="cursor:pointer" >
                        <td>{{meta.de | date: 'dd/MM/yyyy'}} </td>
                        <td>{{meta.ate | date: 'dd/MM/yyyy'}} </td>
                        <td>{{meta.nome_vendedor}} </td>
                        <td>{{meta.nome_filial}} </td>
                        <td>{{meta.valor_total | currency:"R$ ":2}}</td>
                        <td>
                            {{meta.valor_atingido_meta | currency:"R$ ":2}}

                            <b style="display: block;">
                                {{meta.valor_atingido_meta*100/meta.valor_total |  currency:"":2}}%
                            </b>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{meta.valor_atingido_meta*100/meta.valor_total}}%">
                                </div>
                            </div>
                        </td>
                        <td>
                            {{meta.valor_atingido | currency:"R$ ":2}}

                            <b style="display: block;">
                                {{meta.valor_atingido*100/meta.valor_total |  currency:"":2}}%
                            </b>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{meta.valor_atingido*100/meta.valor_total}}%">
                                </div>
                            </div>
                        </td>
                    </tr>   
                </tbody>
                <tfoot>
                    <tr class="success" style="font-weigth: bold;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><span style="float: right;">Total da meta</span></td>
                        <td>{{filial_selecionada.valor_total_meta | currency:"R$ ":2}}</td>
                    </tr>
                    <tr class="success">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><span style="float: right;">Total meta produtos</span></td>
                        <td>{{filial_selecionada.valor_total_atingido_meta | currency:"R$ ":2}}</td>
                    </tr>
                    <tr class="success">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><span style="float: right;">Total meta financeira</span></td>
                        <td>{{filial_selecionada.valor_total_atingido | currency:"R$ ":2}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>