/* Space out content a bit */
body {
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
a{
  outline: 0 !important;
  cursor: pointer;
}
.row{
  margin: 0;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.nav>li.active>a {
text-decoration: none;
}
.navbar-default a{
  color: #000 !important;
}
.navbar-header{
  height: 50px;
  width: 100%;
}
#noti_Container {
    position:relative;
}
.noti_bubble {
    background-color: red;
    border-radius: 30px;
    box-shadow: 1px 1px 1px gray;
    color: white;
    font-size: 0.75em;
    font-weight: bold;
    padding: 0 6px;
    position: absolute;
    right: -4px;
    top: -4px;
}



/**
 * HINT- A CSS tooltip library
 */

.hint { position: relative; display: inline-grid; }

.hint:before, .hint:after {
      position: absolute;
      opacity: 0;
      z-index: 1000000;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
  pointer-events: none;
}

    
.hint:hover:before, .hint:hover:after {
  opacity: 1;
}

.hint:before {
  content: '';
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  position: absolute;
}
    
.hint:after {
  content: attr(data-hint);
  background: rgba(0, 0, 0, 0.8);
      color: white;
      padding: 8px 10px;
      font-size: 12px;
  white-space: pre;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}


/* top */

.hint--top:before {
  bottom: 100%;
  left: 50%;
  margin: 0 0 -18px 0;
  border-top-color: rgba(0, 0, 0, 0.8);
}
    
.hint--top:after {
  bottom: 100%;
  left: 50%;
  margin: 0 0 -6px -10px;
}

.hint--top:hover:before {
  margin-bottom: -10px;
}

.hint--top:hover:after {
  margin-bottom: 2px;
}

/* default: bottom */

.hint--bottom:before {
  top: 100%;
  left: 50%;
  margin: -14px 0 0 0;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}
    
.hint--bottom:after {
  top: 100%;
  left: 50%;
  margin: -2px 0 0 -10px;
}

.hint--bottom:hover:before {
  margin-top: -6px;
}

.hint--bottom:hover:after {
  margin-top: 6px;
}

/* right */

.hint--right:before {
  left: 100%;
  bottom: 50%;
  margin: 0 0 -4px -8px;
  border-right-color: rgba(0,0,0,0.8);
}
    
.hint--right:after {
  left: 100%;
  bottom: 50%;
  margin: 0 0 -13px 4px;
}

.hint--right:hover:before {
  margin: 0 0 -4px -0;
}

.hint--right:hover:after {
  margin: 0 0 -13px 12px;
}

/* left */

.hint--left:before {
  right: 100%;
  bottom: 50%;
  margin: 0 -8px -4px 0;
  border-left-color: rgba(0,0,0,0.8);
}
    
.hint--left:after {
  right: 100%;
  bottom: 50%;
  margin: 0 4px -13px 0;
}

.hint--left:hover:before {
  margin: 0 0 -4px 0;
}

.hint--left:hover:after {
  margin: 0 12px -13px 0;
}
.table-responsive{
  overflow-x: inherit;
}
.no-padding{
  padding: 0 !important;
}
.no-margin{
  margin: 0 !important;
}
.order{
  cursor: pointer;
}
/* in the css file or in a style block */
.angular-with-newlines {
    white-space: pre-wrap;
}
.label-align{
  margin-top:7px;
}
.table-scroll{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 250px;
  margin-bottom:20px;
}
.cursor-pointer{
  cursor: pointer;
}
a.disabled i{
  cursor: not-allowed;
  opacity: 0.3;
}
.navbar-default .navbar-header{
  background-color: #337ab7;
}
.navbar-default .navbar-toggle{
  border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}
.notification-bell{
  border-radius: 4px;
  float: right;
  margin-bottom: 8px;
  margin-right: 15px;
  margin-top: 8px;
  padding: 7px 10px;
  position: relative;
}
.page-header{
  margin: 38px 0 -10px;
}
.pagina{
  margin-top: 58px;
}
.menu-interno{
  height: 62px;
}
.box-container{
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.chat ul li.message-left {
  margin-left: -25px;
}
.chat ul li {
    display: inline-block;
    margin-bottom: 16px;
    position: relative;
    width: 100%;
}
.chat ul li.message-right .message::before{
  border-right: 10px solid transparent;
  border-top: 12px solid #337ab7;
  content: "";
  height: 0;
  margin-right: -10px;
  position: absolute;
  right: 1px;
  top: 0;
  width: 0;
}
.chat ul li.message-left .message::before {
  border-left: 10px solid transparent;
  border-top: 12px solid #5cb85c;
  content: "";
  height: 0;
  left: -9px;
  margin-left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}
.chat ul li.message-right .message {
  color: rgba(0, 0, 0, 0.54);
  margin-left: 0;
}
.chat ul li .message {
  margin-left: 10px;
  padding: 8px 16px;
  position: relative;
}
.mdl-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.mdl-color--primary {
    background-color: #337ab7 !important;
}
.mdl-color--success {
    background-color: #5cb85c !important;
}
.mdl-color-text--white {
    color: #fff !important;
}
.mensagem-meta {
color: rgba(187,140,52,1);
 background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(187,140,52,1)), color-stop(100%, rgba(231,224,155,1)));
 background: -webkit-linear-gradient(top, rgba(187,140,52,1) 0%, rgba(231,224,155,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb8c34', endColorstr='#e7e09b', GradientType=0 );
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.escrever-mensagem{
  border: 1px solid #ddd;
  bottom: 0;
  position: fixed;
  right: 0;
  width: 100%;
  height: 50px;
  padding: 5px;
}
.enviar-mensagem{
  height: 50px;
  width: 55px;
  border-radius: 0px !important;
  bottom: 0;
  position: fixed;
  right: 0;
}