<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <!--<sidebar-icons></sidebar-icons>-->
        <ul class="nav in" id="side-menu">
            <!--<sidebar-search></sidebar-search>-->

            <li ng-class="{active: collapseVar==1}">
                <a href="" ng-click="check(1)">
                    Cadastros
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ui-sref-active="active" >
                        <a ui-sref="dashboard.gerentes">Gerentes</a>
                    </li>
                    <li ui-sref-active="active" >
                        <a ui-sref="dashboard.vendedores">Vendedores</a>
                    </li>
                    <li ui-sref-active="active" >
                        <a ui-sref="dashboard.filiais">Filiais</a>
                    </li>
                    <li ui-sref-active="active" >
                        <a ui-sref="dashboard.metas">Metas</a>
                    </li>
                    <li ui-sref-active="active" >
                        <a ui-sref="dashboard.produtos">Produtos</a>
                    </li>
                    <li ui-sref-active="active" >
                        <a ui-sref="dashboard.mensagens">Mensagens</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==2}">
                <a href="" ng-click="check(2)">
                    Relatórios
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                    <li ui-sref-active="active" >
                        <a ui-sref="dashboard.produtos_vendidos">Produtos vendidos</a>
                    </li>
                    <li ui-sref-active="active" >
                        <a ui-sref="dashboard.vendas">Vendas</a>
                    </li>
                    <li ui-sref-active="active" >
                        <a ui-sref="dashboard.relatorio_metas({tipo_meta: 'produto_diaria'})">Metas diárias por produto</a>
                    </li>
                    <li ui-sref-active="active" >
                        <a ui-sref="dashboard.relatorio_metas({tipo_meta: 'produto_mensal'})">Metas mensais por produto</a>
                    </li>
                    <li ui-sref-active="active" >
                        <a ui-sref="dashboard.relatorio_metas({tipo_meta: 'valor_diaria'})">Metas diárias por valor</a>
                    </li>
                    <li ui-sref-active="active" >
                        <a ui-sref="dashboard.relatorio_metas({tipo_meta: 'valor_mensal'})">Metas mensais por valor</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ui-sref-active="active" >
                <a ui-sref="dashboard.alterar_senha">Alterar senha</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>