<div class="pagina">
	<div class="row">
		<div class="col-lg-12 no-padding" style="font-size: 25px;">
            <a href="#/relatorios_list/produto_diaria">
                <div class="box-container">
                        Metas diárias por produto
                        <i class="pull-right fa fa-angle-right"></i>
                </div>
            </a>
            <a href="#/relatorios_list/produto_mensal">
                <div class="box-container">
                        Metas mensais por produto
                        <i class="pull-right fa fa-angle-right"></i>
                </div>
            </a>
            <a href="#/relatorios_list/valor_diaria">
                <div class="box-container">
                    Metas diárias por valor
                    <i class="pull-right fa fa-angle-right"></i>
                </div>
            </a>
            <a href="#/relatorios_list/valor_mensal">
                <div class="box-container">
                    Metas mensais por valor
                    <i class="pull-right fa fa-angle-right"></i>
                </div>
            </a>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>